* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.placeholder {
  width: 500px;
  height: 230px;
  background-color: hsla(0, 2%, 53%, 0.87);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-links {
  display: flex;
  justify-content: space-between;
}

.header .main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 48px;
  margin-top: 96px;
}

.header {
  padding: 18px 200px 96px;
  background-color: #1f2937;
  height: 480px;
}

.header .main .text {
  display: flex;
  flex-flow: column wrap;
  gap: 12px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 12px;
}

.header .main .text h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.header .main .text p,
ul,
.placeholder,
.header .main .text button {
  font-size: 18px;
  color: #e5e7eb;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
}

.header .main .text button {
  width: 100px;
  background-color: hsl(240, 100%, 50%);
  border-radius: 8px;
}

.card {
  width: 150px;
  height: 150px;
  border: 4px solid blue;
  border-radius: 12px;
}

.all-cards {
  display: flex;
  justify-content: center;
  gap: 36px;
}

.all-cards p {
  width: 150px;
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subsection-one {
  height: 480px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.subsection-one h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin-top: 36px;
}

.quote-section {
  font-size: 36px;
  background-color: #e5e7eb;
  color: #1f2937;
  display: flex;
  justify-content: center;
  padding: 96px 48px 48px 24px;
}

.quote {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.quote-section strong {
  align-self: flex-end;
}

.quote-section p {
  font-style: italic;
  font-weight: 100;
}

.subsection-two {
  display: flex;
  justify-content: center;
}

.sign-up-section {
  width: 1000px;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 75px;
  border-radius: 12px;
}

.sign-up-section button,
.sign-up-section {
  background-color: #3882f6;
  font-size: 18px;
  color: #e5e7eb;
}

.subsection-two .text-two {
  font-weight: 100;
}

.sign-up-section button {
  border-radius: 12px;
  width: 100px;
}
